* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact_profile-section .contact_profile-details::before {
  content: "";
  width: 750px;
  height: 600px;
  position: absolute;
  background-image: url(image/left-img.png);
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@media (max-width: 1350px) {
  .contact_profile-section .contact_profile-details::before {
    content: none !important;
  }
}
@media (max-width: 1200px) {
  .contact_profile-section .contact_profile-details {
    text-align: center;
  }
}
.contact_profile-section h1 {
  font-size: 50px;
  line-height: 54px;
  color: #000000;
  text-shadow: -2px -2px 0px #FFFFFF;
  font-weight: 800;
}
.contact_profile-section h1::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 65px;
  border-bottom: 3px solid #FE0F5E;
  z-index: 1;
}
@media (max-width: 1200px) {
  .contact_profile-section h1::before {
    content: unset !important;
  }
}
@media (max-width: 576px) {
  .contact_profile-section h1 {
    font-size: 20px;
    line-height: 20px;
  }
}
.contact_profile-section h1 .custom-border::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 20px;
  border-bottom: 3px solid #FE0F5E;
  z-index: 1;
}
@media (max-width: 1200px) {
  .contact_profile-section h1 .custom-border::before {
    content: unset !important;
  }
}
.contact_profile-section p {
  font-size: 20px;
  width: 420px;
}
@media (max-width: 1200px) {
  .contact_profile-section p {
    font-size: 15px;
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .contact_profile-section .contact_banner-bg-img {
    justify-content: center;
  }
}
.contact_profile-section .contact_banner-bg-img::before {
  content: "";
  width: 595px;
  height: 600px;
  position: absolute;
  background-image: url(image/right-img.png);
  background-repeat: no-repeat;
  z-index: -1;
  top: 0;
  right: 0;
  opacity: 0.3;
}
@media (max-width: 1350px) {
  .contact_profile-section .contact_banner-bg-img::before {
    content: none !important;
  }
}
.contact_profile-section .profile-img {
  -webkit-animation: mymove 5s infinite;
          animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
  0% {
    transform: translateY(15px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes mymove {
  0% {
    transform: translateY(15px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(15px);
  }
}
@media (max-width: 768px) {
  .contact_profile-section .profile-img {
    width: 100% !important;
    justify-content: unset !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
}
@media (max-width: 768px) {
  .contact_profile-section .profile-img {
    width: 100% !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.contact-section {
  position: relative;
}
.contact-section .contact-info {
  border: 2px solid #AC7DFB;
  box-shadow: 0px 34px 44px -20px rgba(0, 9, 129, 0.25);
  border-radius: 10px;
  padding: 30px;
  height: 100%;
}
.contact-section .contact-info .bg-border::before {
  content: "";
  position: absolute;
  background-image: url(image/border.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  z-index: 1;
  top: -80px;
  left: 200px;
}
@media (max-width: 1200px) {
  .contact-section .contact-info .bg-border::before {
    content: unset;
  }
}
.contact-section .contact-info .bg-circle::before {
  content: "";
  position: absolute;
  background-image: url(image/bluecircle.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  z-index: 1;
  top: 60px;
  left: 235px;
}
@media (max-width: 1200px) {
  .contact-section .contact-info .bg-circle::before {
    content: unset;
  }
}
.contact-section .contact-info .contact-data {
  border-bottom: 2px solid #000;
  margin-bottom: 15px;
}
.contact-section .contact-info .contact-data .contact-icon i {
  color: #EF6DD7;
  font-size: 31px;
}
.contact-section .contact-info .contact-data .contact-number h5 {
  font-size: 30px;
  line-height: 40px;
  color: #000;
}
@media (max-width: 992px) {
  .contact-section .contact-info .contact-data .contact-number h5 {
    font-size: 20px;
    line-height: 30px;
  }
}
.contact-section .contact-info .contact-data .contact-number p {
  font-size: 20px;
  line-height: 30px;
  color: #000;
}
@media (max-width: 992px) {
  .contact-section .contact-info .contact-data .contact-number p {
    font-size: 15px;
    line-height: 20px;
  }
}
.contact-section .more-content {
  border: 2px solid #AC7DFB;
  box-shadow: 0px 34px 44px -20px rgba(0, 9, 129, 0.25);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  position: relative;
}
.contact-section .more-content .bg-border::before {
  content: "";
  position: absolute;
  background-image: url(image/border.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  z-index: 1;
  top: -40px;
  right: -60px;
}
@media (max-width: 1200px) {
  .contact-section .more-content .bg-border::before {
    content: unset;
  }
}
.contact-section .more-content .blue-border::before {
  content: "";
  position: absolute;
  background-image: url(image/blueborder.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  z-index: 1;
  bottom: -80px;
  left: -30px;
}
@media (max-width: 1200px) {
  .contact-section .more-content .blue-border::before {
    content: unset;
  }
}
.contact-section .more-content .bg-circle::before {
  content: "";
  position: absolute;
  background-image: url(image/bluecircle.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  z-index: 1;
  bottom: -60px;
  left: 630px;
}
@media (max-width: 1200px) {
  .contact-section .more-content .bg-circle::before {
    content: unset;
  }
}
.contact-section .more-content h2 {
  font-size: 30px;
  line-height: 33px;
  text-align: center;
}
.contact-section .more-content .branches-add i {
  font-size: 30px;
  color: #EF6DD7;
}
@media (max-width: 992px) {
  .contact-section .more-content .branches-add i {
    font-size: 20px;
  }
}
.contact-section .more-content .branches-add p {
  font-size: 20px;
  line-height: 22px;
  width: 505px;
  color: #000;
}
@media (max-width: 992px) {
  .contact-section .more-content .branches-add p {
    font-size: 15px;
  }
}

.contact-form {
  margin-bottom: 500px;
  position: relative;
}
@media (max-width: 1400px) {
  .contact-form {
    margin-bottom: 0 !important;
  }
}
.contact-form .content-heading {
  text-align: center;
}
.contact-form .content-heading h1 {
  font-size: 50px;
  line-height: 50px;
  color: #000;
  font-weight: bold;
}
@media (max-width: 576px) {
  .contact-form .content-heading h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
.contact-form .content-heading p {
  font-size: 25px;
  line-height: 27px;
}
@media (max-width: 576px) {
  .contact-form .content-heading p {
    font-size: 15px;
    width: 100% !important;
  }
}
.contact-form .bg-contact-img::before {
  content: "";
  position: absolute;
  background-image: url(image/shadow3.png);
  background-repeat: no-repeat;
  width: 480px;
  height: 550px;
  z-index: -1;
  top: 130px;
}
@media (max-width: 1200px) {
  .contact-form .bg-contact-img::before {
    content: unset;
  }
}
.contact-form .bg-contact-img img {
  -webkit-animation: mymove 5s infinite;
          animation: mymove 5s infinite;
}
@keyframes mymove {
  0% {
    transform: translateY(15px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(15px);
  }
}
@media (max-width: 567px) {
  .contact-form .bg-contact-img img {
    width: 100% !important;
    justify-content: unset !important;
    -webkit-animation: none !important;
            animation: none !important;
  }
}
@media (max-width: 1400px) {
  .contact-form .bg-contact-img img {
    width: 100% !important;
  }
}
.contact-form .bg-circle::before {
  content: "";
  position: absolute;
  background-image: url(image/circleyellow.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  z-index: -1;
  top: 100px;
  left: 730px;
}
@media (max-width: 1200px) {
  .contact-form .bg-circle::before {
    content: unset;
  }
}
.contact-form .contect-border {
  border: 3px solid #AC7DFB;
  box-shadow: 0px 34px 44px -20px rgba(0, 9, 129, 0.25);
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}
.contact-form .contect-border .form-heading h2 {
  font-size: 30px;
  line-height: 33px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form .contect-border .custom-input {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 58px;
  border-color: #000;
}
.contact-form .contect-border .custom-input::-moz-placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
.contact-form .contect-border .custom-input:-ms-input-placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
.contact-form .contect-border .custom-input::placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
@media (max-width: 992px) {
  .contact-form .contect-border .custom-input::-moz-placeholder {
    font-size: 15px !important;
  }
  .contact-form .contect-border .custom-input:-ms-input-placeholder {
    font-size: 15px !important;
  }
  .contact-form .contect-border .custom-input::placeholder {
    font-size: 15px !important;
  }
}
@media (max-width: 992px) {
  .contact-form .contect-border .custom-input {
    height: auto;
  }
}
.contact-form .contect-border .custom-textarea {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 165px;
  border-color: #000;
}
.contact-form .contect-border .custom-textarea::-moz-placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
.contact-form .contect-border .custom-textarea:-ms-input-placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
.contact-form .contect-border .custom-textarea::placeholder {
  font-size: 25px !important;
  line-height: 27px !important;
  color: #000 !important;
}
@media (max-width: 992px) {
  .contact-form .contect-border .custom-textarea::-moz-placeholder {
    font-size: 15px !important;
  }
  .contact-form .contect-border .custom-textarea:-ms-input-placeholder {
    font-size: 15px !important;
  }
  .contact-form .contect-border .custom-textarea::placeholder {
    font-size: 15px !important;
  }
}
.contact-form .contect-border .contect-btn {
  background: linear-gradient(90deg, #AC7DFB 0%, #EF6DD7 102.62%);
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 8px 10px rgb(191, 88, 244);
}
.contact-form .contect-border .contect-btn:hover {
  border-radius: 25px;
  box-shadow: unset;
  transition: 0.3s ease-in;
  cursor: pointer;
  background: white;
  outline: 1px solid #BB6DF3;
  background: -webkit-linear-gradient(#AC7DFB, #EF6DD7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .contact-form .contect-border .contect-btn {
    font-size: 15px !important;
  }
}

.fotter-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AC7DFB;
  border-radius: 50px;
}
.fotter-icon:hover {
  background: linear-gradient(90deg, #AC7DFB 0%, #EF6DD7 102.62%);
  color: white !important;
  cursor: pointer;
}/*# sourceMappingURL=contact.css.map */
